<div>
  <label for="length">Longueur du mot de passe :{{ length }}</label>
  <input
    [(ngModel)]="length"
    (change)="onChangeSettings()"
    type="range"
    name="length"
    id="length"
    min="10"
    max="50"
    [value]="length"
  />
  <label for="uppercase">
    <input
      [(ngModel)]="uppercase"
      (change)="onChangeSettings()"
      type="checkbox"
      role="switch"
      name="uppercase"
      id="uppercase"
    />
    Contiendra des majuscules
  </label>
  <label for="numbers">
    <input
      [(ngModel)]="numbers"
      (change)="onChangeSettings()"
      type="checkbox"
      role="switch"
      name="numbers"
      id="numbers"
    />
    Contiendra des nombres
  </label>
  <label for="symbols">
    <input
      [(ngModel)]="symbols"
      (change)="onChangeSettings()"
      type="checkbox"
      role="switch"
      name="symbols"
      id="symbols"
    />
    Contiendra des caractères spéciaux
  </label>
</div>
